<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro - Tienda Katy</title>
</head>
<body>
    <h2>Registro de Nuevo Usuario</h2>
    
    <form method="POST" action="/registro">
        <label>Elegí un nombre de Usuario:</label><br>
        <input type="text" name="username" required><br><br>
        
        <label>Contraseña:</label><br>
        <input type="password" name="password" required><br><br>
        
        <button type="submit">Crear Cuenta Seguro</button>
    </form>
</body>
</html>